<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doancuoiki.tim_tro_dack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home"
        android:label="@string/newname"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".view.activity.Splash_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.Chi_tiet_nha_tro" />
        <activity android:name=".view.activity.Dang_nhap" />
        <activity android:name=".view.activity.Dang_ki" />
        <activity android:name=".view.activity.QuenMK" />
        <activity android:name=".view.activity.DangTin" />
        <activity android:name=".ThongBao" />
        <activity android:name=".NguoiDung" />
        <activity android:name=".GioiThieu"></activity>
    </application>

</manifest>